<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <title></title> -->
	<style>
   </style>
</head>
<body>

   <div class="container">
      <div class="row">
         <div class="col-6">



            <ul>
               <li>SOLICITUD
               <ul>
                  <li>Registro Registro SEDE:
                  <ul>
                     <li>Id:&nbsp;SL000000103179</li>
                     <li>Fecha y hora:&nbsp;18/06/2021 11:05:46</li>
                  </ul>
                  </li>
               </ul>
               </li>
            </ul>
            
            <hr />
            <ul>
               <li>Solicitud debidamente cumplimentada y firmada.<span style="color:#16a085"> <strong>OK</strong></span></li>
               <li>Declaraci&oacute;n Responsable debidamente cumplimentada y firmada.<span style="color:#16a085"><strong>dec_responsable_ok</strong></span></li>
               <li>Domicilio Fiscal y/o Social en la demarcaci&oacute;n de la C&aacute;mara&nbsp;<span style="color:#16a085"><strong>OK</strong></span></li>
               <li>DNI.&nbsp;<span style="color:#16a085"><strong>dni_ok</strong></span></li>
               <li>Poderes o escrituras del firmante.&nbsp;<span style="color:#16a085"><strong>escrituras_ok</strong></span></li>
               <li>CIF.&nbsp;<span style="color:#16a085"><strong>cif_ok</strong></span></li>
               <li>Condiciones de participaci&oacute;n.<span style="color:#16a085"><strong>OK</strong></span></li>
            </ul>
            
            <hr />
            <ul>
               <li>Informe de Valoraci&oacute;n de Solicitudes. <span style="color:#16a085"><strong>02/09/2021</strong></span></li>
               <li>Resoluci&oacute;n. <span style="color:#16a085"><strong>02/09/2021</strong></span></li>
               <li>N&ordm; Expediente.&nbsp;<span style="color:#16a085"><strong>SOS_AN_HU_008</strong></span></li>
               <li>Informaci&oacute;n Adicional del Beneficiario.&nbsp;<span style="color:#16a085"><strong>OK</strong></span></li>
            </ul>
            
            <hr />
            <ul>
               <li>FASE I.
               <ul>
                  <li>Convenio DECA empresa. <span style="color:#16a085"><strong>03/09/2021</strong></span></li>
                  <li>Diagnostico.&nbsp;</li>
                  <li>&nbsp;Registro Prestaci&oacute;n Servicio Fase I.&nbsp;</li>
               </ul>
               FASE II
            
               <ul>
                  <li>Enviado email Publicidad UE</li>
                  <li>Participaci&oacute;n en Fase II&nbsp;</li>
                  <li>Presupuestos (Fecga de recepci&oacute;n).&nbsp;</li>
                  <li>PPI.</li>
                  <li>Registro Prestaci&oacute;n Servicio y Seguimiento - Fase II.&nbsp;</li>
                  <li>Memoria Ejecuci&oacute;n Proyecto y Cuestionario.&nbsp;</li>
                  <li>Anexo 27. Formulario CCC - EMPRESAS.</li>
                  <li>Facturas.</li>
                  <li>Orden de transferencia.</li>
                  <li>Extracto bancario.</li>
                  <li>Evidencias del gasto.&nbsp;</li>
                  <li>Obligaciones publicidad UE.&nbsp;</li>
               </ul>
               </li>
            </ul>
            















            <p>{{ project.programa }}</p>
            <p>{{ project.nombre_solicitante }}</p>
            <p>{{ project.documento_solicitante }}</p>
            <p>{{ project.fecha_diagnostico }}</p>
            <p>{{ project.representante }}</p>
            <p>{{ project.documento_representante }}</p>
            <p>{{ project.correo_representante }}</p>
         </div>
      </div>
   </div>

	
</body>
</html>
