<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <title></title> -->
	<style>
   </style>
</head>
<body>

   <div class="container">
      <div class="row">
         <div class="col-6">
            <p>{{ project.programa }}</p>
            <p>{{ project.solicitante }}</p>
            <p>{{ project.documento_solicitante }}</p>
            <p>{{ project.representante }}</p>
            <p>{{ project.documento_representante }}</p>
            <p>{{ project.correo_representante }}</p>
         </div>
      </div>
   </div>

	
</body>
</html>
