{% extends 'base.html' %}
{% load static %}

{% block content %}
       <div class="row">
        <form action="." method="POST">
            {% csrf_token %}
            <table class="table table-striped table-hover" id="EmpresaList">
                <thead>
                    <tr>
                        <th scope="col">Programa</th>
                        <th scope="col">Consultora</th>
                        <th scope="col">Solicitante</th>
                        
                     
                       <!--  <th scope="col">jj</th>
                        <th scope="col">Programa</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Doc. Solicitante</th>
                        <th scope="col">Representante</th>
                        <th scope="col">Doc. Representante</th>
                        <th scope="col">Correo Representante</th> -->
                    </tr>
                </thead>
                <tbody>
              

                </tbody>
            </table>
            
            <div class="col-12">                
                <button id="btnDeca" type="submit" class="btn btn-primary">Deca</button>
            </div>
            
        </form>
      </div>


{% endblock content %}


{% block extra_javascript %}
  <script src="{% static 'js/empresa/list.js' %}"></script>
{% endblock extra_javascript %}

{# % block script % #}



    <!-- <script>
        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }

       {#iniciliazar la funcion jquery#}
        $(document).ready(function () {
            $('#btnDeca').click(function () {
                // trae los checkbox que están marcados, trae todo lo que contiene el elemento o etiqueta input
                const selected = $('.form-check-input:checked')
                var cadenaid = ''

                // revisa cada uno de los marcados
                selected.each(function () {
                    //console.log($(this)[0].value)

                    cadenaid += $(this)[0].value+'-'
                })
                cadenaid = cadenaid.substring(0, cadenaid.length - 1);

                console.log(cadenaid)
                window.location.replace('http://127.0.0.1:8000/'+cadenaid)
                sleep(200);
                window.location.replace('http://127.0.0.1:8000/')
            })
        })
    </script> -->
{# % endblock script % #}